In [40]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv('/Users/andyliu/Downloads/AAPL.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2000-01-03  3.745536  4.017857  3.631696  3.997768   3.460857  133949200
1  2000-01-04  3.866071  3.950893  3.613839  3.660714   3.169071  128094400
2  2000-01-05  3.705357  3.948661  3.678571  3.714286   3.215448  194580400
3  2000-01-06  3.790179  3.821429  3.392857  3.392857   2.937188  191993200
4  2000-01-07  3.446429  3.607143  3.410714  3.553571   3.076317  115183600

In [42]:
import ta

In [44]:
indicator_bb = ta.volatility.BollingerBands(close=df["Close"], n=20, ndev=2)
df['bb_bbm'] = indicator_bb.bollinger_mavg()
df['bb_bbh'] = indicator_bb.bollinger_hband()
df['bb_bbl'] = indicator_bb.bollinger_lband()

In [45]:
indicator_atr = ta.volatility.AverageTrueRange(high=df['High'], low=df['Low'], close=df['Close'])
df['atr'] = indicator_atr.average_true_range()

In [46]:
indicator_macd = ta.trend.MACD(close=df['Close'])
df['macd'] = indicator_macd.macd()
indicator_cci = ta.trend.cci(high=df['High'], low=df['Low'], close=df['Close'])
df['cci'] = indicator_cci
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,bb_bbm,bb_bbh,bb_bbl,atr,macd,cci
0,2000-01-03,3.745536,4.017857,3.631696,3.997768,3.460857,133949200,NaN,NaN,NaN,0.0,NaN,NaN
1,2000-01-04,3.866071,3.950893,3.613839,3.660714,3.169071,128094400,NaN,NaN,NaN,0.0,NaN,NaN
2,2000-01-05,3.705357,3.948661,3.678571,3.714286,3.215448,194580400,NaN,NaN,NaN,0.0,NaN,NaN
3,2000-01-06,3.790179,3.821429,3.392857,3.392857,2.937188,191993200,NaN,NaN,NaN,0.0,NaN,NaN
4,2000-01-07,3.446429,3.607143,3.410714,3.553571,3.076317,115183600,NaN,NaN,NaN,0.0,NaN,NaN

In [47]:
indicator_ema = ta.trend.EMAIndicator(close=df['Close'])
df['ema'] = indicator_ema.ema_indicator()
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,bb_bbm,bb_bbh,bb_bbl,atr,macd,cci,ema
0,2000-01-03,3.745536,4.017857,3.631696,3.997768,3.460857,133949200,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1,2000-01-04,3.866071,3.950893,3.613839,3.660714,3.169071,128094400,NaN,NaN,NaN,0.0,NaN,NaN,NaN
2,2000-01-05,3.705357,3.948661,3.678571,3.714286,3.215448,194580400,NaN,NaN,NaN,0.0,NaN,NaN,NaN
3,2000-01-06,3.790179,3.821429,3.392857,3.392857,2.937188,191993200,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,2000-01-07,3.446429,3.607143,3.410714,3.553571,3.076317,115183600,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [48]:
indicator_roc = ta.momentum.ROCIndicator(close=df['Close'])
df['roc'] = indicator_roc.roc()
indicator_sma = ta.trend.sma_indicator(close=df['Close'])
df['sma12'] = indicator_sma
indicator_sma = ta.trend.sma_indicator(close=df['Close'], n=5)
df['sma5'] = indicator_sma
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,bb_bbm,bb_bbh,bb_bbl,atr,macd,cci,ema,roc,sma12,sma5
0,2000-01-03,3.745536,4.017857,3.631696,3.997768,3.460857,133949200,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-04,3.866071,3.950893,3.613839,3.660714,3.169071,128094400,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-05,3.705357,3.948661,3.678571,3.714286,3.215448,194580400,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-06,3.790179,3.821429,3.392857,3.392857,2.937188,191993200,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-07,3.446429,3.607143,3.410714,3.553571,3.076317,115183600,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,3.663839

In [49]:
stochasticoscillator = ta.momentum.StochasticOscillator(high=df['High'], low=df['Low'], close=df['Close'])
df['stochastic_oscillator'] = stochasticoscillator.stoch()
mtm6 = ta.momentum.roc(close=df['Close'], n=6)
df['mtm6'] = mtm6
mtm12 = ta.momentum.roc(close=df['Close'], n=12)
df['mtm12'] = mtm12
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,bb_bbm,bb_bbh,bb_bbl,atr,macd,cci,ema,roc,sma12,sma5,stochastic_oscillator,mtm6,mtm12
0,2000-01-03,3.745536,4.017857,3.631696,3.997768,3.460857,133949200,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-04,3.866071,3.950893,3.613839,3.660714,3.169071,128094400,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-05,3.705357,3.948661,3.678571,3.714286,3.215448,194580400,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-06,3.790179,3.821429,3.392857,3.392857,2.937188,191993200,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-07,3.446429,3.607143,3.410714,3.553571,3.076317,115183600,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,3.663839,NaN,NaN,NaN

In [50]:
df1 = df.dropna()
df1.head()

,Date,Open,High,Low,Close,Adj Close,Volume,bb_bbm,bb_bbh,bb_bbl,atr,macd,cci,ema,roc,sma12,sma5,stochastic_oscillator,mtm6,mtm12
25,2000-02-08,4.071429,4.147321,3.973214,4.102679,3.551679,102160800,3.742522,4.258182,3.226863,0.269113,0.028205,108.190228,3.824902,3.200471,3.819569,3.850447,75.462985,10.722907,3.200471
26,2000-02-09,4.075893,4.183036,4.015625,4.022321,3.482112,74841200,3.778013,4.267441,3.288585,0.261849,0.041000,99.355655,3.851224,5.999985,3.838542,3.949107,80.110416,12.344132,5.999985
27,2000-02-10,4.031250,4.066964,3.928571,4.053571,3.509166,75745600,3.825000,4.222077,3.427923,0.253030,0.053050,74.466356,3.878204,1.113564,3.842262,4.021875,83.977818,14.863993,1.113564
28,2000-02-11,4.058036,4.075893,3.866071,3.883929,3.362307,53062800,3.846429,4.205873,3.486984,0.249944,0.048354,39.741881,3.878967,-1.304587,3.837984,4.027232,62.983456,5.263174,-1.304587
29,2000-02-14,3.904018,4.138393,3.879464,4.136161,3.580663,91884800,3.873884,4.233772,3.513996,0.250586,0.064245,79.748813,3.913260,5.284110,3.855283,4.039732,94.198897,7.233800,5.284110

In [51]:
df1.to_csv('./aapl_indicators_yahoo.csv')

In [52]:
df1.shape

(5119, 20)